---
import Frontpage from "@layouts/Frontpage.astro";
import Card from "@components/Elements/SeedCard.astro";
import { getCollection } from "astro:content";

const allSeeds = await getCollection("seeds", ({ id, data }) => {
  return id.startsWith("en/") && data.draft == false;
});
---

<Frontpage lang="en">
  <div slot="main">
    <h1>Plant Life.</h1>
    <p></p>
    <section class="seedscards">
      <div>{allSeeds.map((s) => <Card s={s} />)}</div>
    </section>
  </div>
</Frontpage>

<style>
  .seedscards {
    columns: 180px 4;
    column-gap: var(--padd-md);
  }
</style>
