---
import Default from "@layouts/Default.astro";
---

<Default desc="Imprint and Contact Data" lang="de" title="Imprint">
  <div slot="main">
    <h1>Imprint</h1>
    <p>
      Impactfactory Kai Pulfer<br />
      Hegifeldstrasse 35<br />
      8404 Winterthur<br />
      Switzerland<br />
      <br />
      0041 77 420 63 69<br />
    </p>

    <h2>Authorised Representative</h2>
    <p>Kai Pulfer</p>

    <h2>Disclaimer</h2>
    <p>
      The author accepts no liability whatsoever with regard to the correctness,
      accuracy, up-to-dateness, reliability and completeness of the information.
    </p>
    <p>
      Liability claims against the author due to material or immaterial damage
      or immaterial nature arising from access to, use or non-use of the
      information use or non-use of the published information, through misuse of
      the or technical malfunctions are excluded. excluded.
    </p>
    <p>
      All offers are non-binding. The author expressly reserves the right parts
      of the pages or the complete publication including all offers and
      information without without prior notice or to cease publication
      temporarily or permanently. publication temporarily or permanently.
    </p>

    <h2>Disclaimer for Links</h2>
    <p>
      References and links to websites of third parties are outside our area of
      responsibility. Any responsibility for such websites is websites is
      declined. Access to and use of such websites is at the are at the own risk
      of the respective user.
    </p>

    <h2>Copyright</h2>
    <p>
      The copyrights and copy rights as well as all other rights to contents,
      pictures, photos or other files on this website belong exclusively to the
      Impactfactory Kai Pulfer or the specifically named rights holders.
      specifically named rights holders. For the reproduction of any elements,
      the written consent of the copyright holder must be obtained in advance.
    </p>
  </div>
</Default>
