---
import { Icon } from "astro-icon";
---

<a
  href="https://www.facebook.com/profile.php?id=100094195433805"
  target="_blank"
  rel="noopener"
  class="social"
>
  <Icon name="mdi:facebook" />
</a>
