---
import { Icon } from "astro-icon";
---

<a
  href="https://earth.us21.list-manage.com/subscribe?u=8fb55d043511fa7e2ab8150ed&id=40084ff305"
  target="_blank"
  rel="noopener"
>
  <Icon name="mdi:email" />
</a>
