---
import { CollectionEntry, getCollection } from "astro:content";
import CardTags from "./CardTags.astro";

const animals: any = await getCollection("animals");
const environments: any = await getCollection("environments");
const plants: any = await getCollection("plants");
const principles: any = await getCollection("principles");
const { s } = Astro.props;
const lang = s.id.substr(0, 2);

function getAnimal(animal: string): CollectionEntry<"animals"> | undefined {
  return animals.find((a: any) => a.slug === lang + "/animals/" + animal);
}

function getEnvironment(
  environment: string
): CollectionEntry<"environments"> | undefined {
  return environments.find(
    (e: any) => e.slug === lang + "/environments/" + environment
  );
}

function getPlant(plant: string): CollectionEntry<"plants"> | undefined {
  return plants.find((p: any) => p.slug === lang + "/plants/" + plant);
}

function getPrinciple(
  principle: string
): CollectionEntry<"principles"> | undefined {
  return principles.find(
    (p: any) => p.slug === lang + "/principles/" + principle
  );
}
---

<div class="tagslist">
  {
        s.data.animals
          .map((a: any) => getAnimal(a))
          .map((animal: any) => (
            <CardTags
              label={animal?.data.name}
              url={"/" + animal?.slug}
              classtype="animals"
            />
          ))
      }

      {
        s.data.environments
          .map((e: any) => getEnvironment(e))
          .map((environment: any) => (
            <CardTags
              label={environment?.data.name}
              url={"/" + environment?.slug}
              classtype="environments"
            />
          ))
      }

      

      {
        s.data.principles
          .map((p: any) => getPrinciple(p))
          .map((principle: any) => (
            <CardTags
              label={principle?.data.name}
              url={"/" + principle?.slug}
              classtype="principles"
            />
          ))
      }
      
</div>

      


