---
import Frontpage from "@layouts/Frontpage.astro";
import Card from "@components/SeedDetail/Cards/CardWrap.astro";
import { getCollection } from "astro:content";

const allSeeds = await getCollection("seeds", ({ id, data }) => {
  return id.startsWith("de/") && data.draft == false;
});
---

<Frontpage lang="de">
  <div slot="main">
    <h1>Leben pflanzen.</h1>
    <p></p>
    <section class="seedscards">
      <div>
        {allSeeds.map((s) => <Card s={s} />)}
      </div>
    </section>
  </div>
</Frontpage>

<style>
  .seedscards {
    columns: 180px 4;
    column-gap: var(--padd-md);
  }
</style>
