---
import Default from "@layouts/Default.astro";
---

<Default desc="Impressum und Kontaktinformationen" lang="de" title="Impressum">
  <div slot="main">
    <h1>Impressum</h1>
    <p>
      Impactfactory Kai Pulfer<br />
      Hegifeldstrasse 35<br />
      8404 Winterthur<br />
      Schweiz<br />
      <br />
      0041 77 420 63 69<br />
    </p>

    <h2>Vertretungsberechtigte Person</h2>
    <p>Kai Pulfer</p>

    <h2>Haftungsausschluss</h2>
    <p>
      Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen
      Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit
      der Informationen.
    </p>
    <p>
      Haftungsansprüche gegen den Autor wegen Schäden materieller oder
      immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.
      Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der
      Verbindung oder durch technische Störungen entstanden sind, werden
      ausgeschlossen.
    </p>
    <p>
      Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich
      vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung
      zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise
      oder endgültig einzustellen.
    </p>

    <h2>Haftungsausschluss für Links</h2>
    <p>
      Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
      Verantwortungsbereichs. Es wird jegliche Verantwortung für solche
      Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
      erfolgen auf eigene Gefahr des jeweiligen Nutzers.
    </p>

    <h2>Urheberrechte</h2>
    <p>
      Die Urheber- und Copyrechte sowie alle anderen Rechte an Inhalten,
      Bildern, Fotos oder anderen Dateien auf dieser Website, gehören
      ausschliesslich der Impactfactory Kai Pulfer oder den speziell genannten
      Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die
      schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
    </p>
  </div>
</Default>
