---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

export interface Props {
  s: any;
}

const { s } = Astro.props;
---

<div class="card preview">
  <div class="card-img">
    <Picture
      alt={"Thumbnail " + s.data.name}
      aspectRatio="20:12"
      background="transparent"
      class="thumbnail"
      fit="cover"
      formats={["avif", "webp", "jpeg"]}
      height="120px"
      sizes={"(max-width: 1400px) 200px,400px"}
      src={"/images/seeds/" + s.slug.substr(9) + "/keyvisual.jpg"}
      position="center"
      width="200px"
      widths={[90, 180]}
      style=""
    />
  </div>
  <div class="card-body">
    <div class="icon"><Icon name="in-progress" /></div>
    <h3>
      {s.data.name}
    </h3>
    <p>
      {s.data.desc_short.substring(0, 160) + "..."}

      <span class="synonyms">
        {
          s.data.synonyms.map((synonym) => (
            <span>{synonym}&nbsp&nbsp&nbsp</span>
          ))
        }
      </span>
    </p>
  </div>
</div>
